@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Arsenal');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

*{
    margin: 0;
    padding: 0;
}
body,html{height:100%}
.top{
    min-height: 10%;
    display: flex;
    flex-direction: row;
    background-color: #19191c;
    flex-wrap: wrap; 
}
.logo{
    line-height: 30px;
    flex-grow: 2;
    padding-left: 2%;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 150px;
    margin: auto 0;
    font-family: 'Bungee Shade', cursive;
    color: white;
    font-size: 30px;
}
.logo a{
    color:white;
    text-decoration:none;
}
.menu-item{
    margin: auto;
    border: 1px solid #19191c;
    border-radius: 3px;
    padding:10px;
    transition: all 0.2s ease-in-out;
}
.menu-item a{
    font-size: 17px;
    font-family: 'Arsenal', sans-serif;
    text-decoration: none;
    color: aliceblue;
}
@media only screen and (max-device-width: 640px) {
    .menu-item a{
        font-size: 25px;
    }
}
@media only screen and (max-device-width: 750px) {
    .menu-item a{
        font-size: 23px;
    }
}
@media only screen and (max-device-width: 1080px) {
    .menu-item a{
        font-size: 20px;
    }
}
.menu-item:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.menu:last-child{
    flex-grow: 2;
}
.wrapper {
    max-width: 700px;
    margin: 0 auto;
		}
.slider {
			z-index: 9;
			max-width: 700px;
			height: 290px;
			overflow: hidden;
			position: relative;
		}
.slider ul,
.slider li {
padding: 0;
margin: 0;
list-style-type: none;
}
.slider ul {
width: 9999px; 
		}
.slider ul li {
list-style-type: none;
float: left;
width: 700px;
height: 290px;
		}
.slider .nav {
			position: absolute;
			left: 15px;
			bottom: 12px; 
		}
.slider .nav span {
			opacity: 0.9;
			background: #fff;
			margin: 0 8px 0 0;
			width: 16px;
			height: 16px;
			border-radius: 8px;
			cursor: pointer;
			overflow: hidden;
			display: block;
			float: left;
			box-shadow: 0 1px 2px #000;
		}
.slider .nav span.on {
			background: #2e9419;
		}

.back{
    width: 100%;
    background: url("../img/fon2.jpg");
}

